<a href="https://colab.research.google.com/github/fju410290051/fin_data/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/fju410290051/fin_data/refs/heads/main/HW_2024-12-10.csv"
df = pd.read_csv(url, index_col=0)
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
Non-Cumulative,,,,,,,
Company,Y/M,Quarter,M&A(Y/N),Month,Currency,Total Assets,Net Sales
1216 Uni-President,2024/09,3,Y,9,NTD,"704,918,640","178,921,762"
1216 Uni-President,2024/06,2,Y,6,NTD,"688,654,808","162,120,139"
1216 Uni-President,2024/03,1,Y,3,NTD,"674,819,759","158,756,079"
1216 Uni-President,2023/12,4,Y,12,NTD,"665,879,318","147,254,589"
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company,Y/M,Quarter,M&A(Y/N),Month,Currency,Total Assets,Net Sales
1201 Wei Chuan,2024/09,3,Y,9,NTD,"18,009,061","6,506,096"
1201 Wei Chuan,2024/06,2,Y,6,NTD,"18,037,344","5,905,868"
1201 Wei Chuan,2024/03,1,Y,3,NTD,"17,809,392","5,334,450"
1201 Wei Chuan,2023/12,4,Y,12,NTD,"18,027,715","5,486,024"
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cumulative,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company,Y/M,Quarter,M&A(Y/N),Month,Currency,Total Assets,Net Sales
1216 Uni-President,2024/09,3,Y,9,NTD,"704,918,640","499,797,980"
1216 Uni-President,2024/06,2,Y,6,NTD,"688,654,808","320,876,218"
1216 Uni-President,2024/03,1,Y,3,NTD,"674,819,759","158,756,079"
1216 Uni-President,2023/12,4,Y,12,NTD,"665,879,318","581,102,935"
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company,Y/M,Quarter,M&A(Y/N),Month,Currency,Total Assets,Net Sales
1201 Wei Chuan,2024/09,3,Y,9,NTD,"18,009,061","17,746,414"
1201 Wei Chuan,2024/06,2,Y,6,NTD,"18,037,344","11,240,318"
1201 Wei Chuan,2024/03,1,Y,3,NTD,"17,809,392","5,334,450"
1201 Wei Chuan,2023/12,4,Y,12,NTD,"18,027,715","21,476,354"